<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header" >
  <header class="mdl-layout__header" >
    <div class="mdl-layout__header-row">
      <a class="mdl-navigation__link" href="/">
      <span class="mdl-layout-title" >News</span>
    </a>
      <div class="mdl-layout-spacer"></div>

      <nav class="mdl-navigation mdl-layout--large-screen-only">
        <a class="mdl-navigation__link" href="">Proximamente</a>

      </nav>
    </div>
  </header>
  <div class="mdl-layout__drawer mdl-layout--small-screen-only">
    <span class="mdl-layout-title">News</span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="">Proximamente</a>

    </nav>
  </div>

</div>
